<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>车次查询</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="css/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="css/htmleaf-demo.css"/>
		<link href="css/style.css" rel="stylesheet"/>
		<!--[if IE]>
			<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="htmleaf-container">
		<header class="htmleaf-header">
			<h1><span id="ED">Experienced Drivers</span>老司机校车服务系统<span>同学，买票上车啊</span></h1>
		</header>
		<nav class="animenu"> 
		  <button class="animenu__toggle">
		    <span class="animenu__toggle__bar"></span>
		    <span class="animenu__toggle__bar"></span>
		    <span class="animenu__toggle__bar"></span>
		  </button>
		  <ul class="animenu__nav">
		    <li id="firstli">
		      <a href="index.html">当前车次</a>
		    </li>
		    <li>
		      <a href="#">车次查询</a>
		    </li>   
		    <li>
		      <a href="#">登录</a>
		    </li>   
		  </ul>
		</nav>
		<div class="searchcar row">
			<h3 class="col-12 col-m-12">当日车次查询</h3>
			<table class="col-12 col-m-12">
				<tr>
					<td>7:00</td>
					<td>新都校区-天府广场</td>
					<td>待售***张</td>
					<td><a href="#">买票上车</a></td>
				</tr>
				<tr>
					<td>7:30</td>
					<td>新都校区-天府广场</td>
					<td>待售***张</td>
					<td><a href="#">买票上车</a></td>
				</tr>
			</table>
		</div>
		<div class="searchcar row">
			<h3 class="col-12 col-m-12">明日车次查询</h3>
			<table class="col-12 col-m-12">
				<tr>
					<td>7:00</td>
					<td>新都校区-天府广场</td>
					<td>待售***张</td>
					<td><a href="#">买票上车</a></td>
				</tr>
				<tr>
					<td>7:30</td>
					<td>新都校区-天府广场</td>
					<td>待售***张</td>
					<td><a href="#">买票上车</a></td>
				</tr>
			</table>
		</div>
		<div class="searchcar row">
			<h3 class="col-12 col-m-12">新都校区-南充校区车次查询</h3>
			<table class="col-12 col-m-12">
				<tr>
					<td>7:00</td>
					<td>新都校区-南充校区</td>
					<td>待售***张</td>
					<td><a href="#">买票上车</a></td>
				</tr>
				<tr>
					<td>7:30</td>
					<td>新都校区-南充校区</td>
					<td>待售***张</td>
					<td><a href="#">买票上车</a></td>
				</tr>
			</table>
		</div>
		<div class="footer">
			<p>
				&copy;2016.12 Experienced Drivers v1.0<span><a href="#">翼灵物联工作室</a></span>
			</p>
		</div>
	</body>
</html>
