<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title>老司机校车服务系统</title>
    <link rel="stylesheet" href="css/ExperiencedDrivers.css" />
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <!--<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>-->
    <script >
        var app=angular.module("myApp",[]);
        app.controller("indexCtrl",function ($scope,$http) {
            $scope.getNowBus = function () {
                $http.get("/info/showOneInfo").success(function (nowBus) {
                    $scope.nowbus = nowBus;
                })
            };
            $scope.getNowBus();
            $scope.sale=function () {
                var id=$scope.nowbus.message.id;
//                var id=2;
                var number=1;
                $http({
                    method:"post",
                    url:"/info/sale",
                    data:{id:id,number:1}
                }).success(function (message) {
                    $scope.message=message;
                    alert(message);
                    $scope.getNowBus();
                })
            }
        })
    </script>
</head>

<body ng-app="myApp" ng-controller="indexCtrl">
    <div class="container">

        <!--start .header-->

        <div class="header">
            <h1><span>ExperiencedDrivers</span>老司机校车服务系统</h1>
            <h3>同学，买票上车啊</h3>
            <ul>
                <li><a href="#">当前车次</a></li>
                <li><a href="/search">车次查询</a></li>
            </ul>
        </div>

        <!--end .header-->

        <!--start .main-->

        <div class="main">
            <div class="second-info">

            </div>
            <div class="row main-info"  >
                <div class="left col-6" >
                    <h2 >预计<time>{{nowbus.message.start|date:"HH:mm"}}</time>发车</h2>
                    <div class="main-img"><img src="img/gallary1.jpg" alt="" /></div>
                    <p>已售<span>{{nowbus.message.soldTickets}}</span>张</p>
                </div>
                <div class="right col-6">
                    <form><button ng-click="sale()">买票上车</button></form>
                    <div class="main-img"><img src="img/gallary2.jpg" alt="" /></div>
                    <p>待售<span>{{nowbus.message.leftTickets}}</span>张</p>
                </div>
            </div>
            <div class="sendmsg" >
                <h2>校车动态信息</h2>
                <form method="post" action="/news/fromAdmin">
                    <textarea placeholder="发布消息" name="content" required="required"></textarea>
                    <button>发送</button>
                </form>
            </div>
        </div>

        <!--end .main-->

        <!--start .footer-->

        <div class="footer">
            <p>&copy;2016.12 Experienced Drivers v1.0<a href="#" target="_blank">翼灵物联工作室</a></p>
        </div>

        <!--end .footer-->

    </div>
</body>

</html>