<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8"/>
    <title>登录-老司机校车服务系统</title>
    <link rel="stylesheet" href="css/onload.css" />
</head>

<body>
    <div class="container">
        <div class="login">
            <h3><sup>&copy;</sup>ExperiencedDrivers</h3>
            <h1>老司机校车服务系统-登录</h1>
            <form method="post" action="/login">
                <input type="text" placeholder="账号" list="userIDs" name="username" required="required" /><br />
                <datalist id="userIDs" style="display: none;">
							<option value="123456">123456</option>
						</datalist>
                <input type="password" placeholder="密码" name="password" required="required" /><br />
                <button><span>登</span>录</button>
            </form>
        </div>
    </div>
</body>

</html>